# truffle build directory
build/
# Dependency directory
node_modules

# only used to package @openzeppelin/contracts?
contracts/build/

# temporary artifact from solidity-coverage
allFiredEvents
.coverage_artifacts
.coverage_cache
.coverage_contracts

# hardhat?
.cache
dist

#notes
notes.txt
.gitignore